<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Janet and Olly's Wedding</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.countdown.js"></script>		
		<script type="text/javascript">
			$(function () {
				var austDay = new Date("June 23, 2012 15:00:00");
				$('#defaultCountdown').countdown({until: austDay, layout: '{dn} {dl}, {hn} {hl}, {mn} {ml}, and {sn} {sl}'});
				$('#year').text(austDay.getFullYear());
			});
		</script>
	</head>
	<body>
		<div id="borders">
			<div class="border border_left"></div>
			<div id="container">
				<div id="content">
					<div id="header">
						<div id="defaultCountdown"></div>
						<a href="/">
    						<div id="logo">
	    						<h1><span class="red">Janet</span><span class="grey">&amp;Olly</span></h1>
		    					<h2><span class="grey">The</span><span class="red">Wedding</span></h2>
			    			</div>
			    		</a>
						<div id="contact_details">
							<p><a href="mailto:janet@janetandollyswedding.co.uk">janet@janetandollyswedding.co.uk</a></p>
							<p><a href="mailto:olly@janetandollyswedding.co.uk">olly@janetandollyswedding.co.uk</a></p>
						</div>
					</div>
					<div id="nav">
					    <ul>
					        <li><a href="/">Home</a></li>
					        <li><a href="/when.html">When</a></li>
					        <li><a href="/where.html">Where</a></li>
					        <li><a href="/accommodation.html">Accommodation</a></li>
					        <li><a href="/list.html">Wedding List</a></li>
					    </ul>
					</div>